# je ne sais pas comment versionner ca. sous-module ?
node_modules/
semantic/
_build
dist
cabal-dev
.#*
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.swp
.stack-work/

.DS_Store
/pl-ui/.DS_Store
